
<div class="p-auto" style="height: auto; background-color: rgba(255,0,0,0.1);">

    <footer id="layout-footer">
        <h5>Made by : Rahul Gusain</h5>
        <h5>Code released under : demo licence</h5>
        <h5>Based on Bootstrap. Icons from Font Awesome. Web fonts from Google.</h5>
    </footer>
    
</div>